.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  /* background-color: #f9f9f9; */
}

form div {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
  /* font-weight: bold; */
  color: black;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.submitbutton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitbutton:hover {
  background-color: #0056b3;
}

.users {
  margin-top: 40px;
}

.user {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ccc;
  text-align: left;
  font-weight: bold;
}

.icons {
  display: flex;
  gap: 10px;
}

.edit, .delete {
  cursor: pointer;
  background-color: #333;
  color: white;
  min-width: 50px;
  margin-left: 10px;
}

.edit:hover {
  color: #007bff;
}

.delete:hover {
  color: #ff0000;
}